<div class="container" style="margin-top: 30px;">
    <% if @cart.line_items.present? %>
        <div class="card">
            <div class="card-header text-center">
                CART SUMMARY
            </div>
            <ul class="list-group list-group-flush">
                <% @cart.line_items.each do |line_item| %>
                    <li class="list-group-item">
                        <%= image_tag line_item.product.image, alt: 'p_img', size: '100x100', class: 'rounded' %>&nbsp;&nbsp;
                        <strong><%= line_item.product.title %></strong>&nbsp;&nbsp;
                        <%= "Quntity - #{line_item.quantity}" %>&nbsp;&nbsp;
                        <%= "Price - #{number_to_currency line_item.product.price}" %> &nbsp;&nbsp;&nbsp;&nbsp;
                        <%= link_to "Remove From Cart", line_item_path(line_item), method: :delete, class: 'btn btn-danger' %>
                    </li>
                <% end %>
            </ul>
            <div class="card-footer">
                <p class="text-end">Grand Total - <strong><%= number_to_currency @cart.total_amount %></strong></p>
                <p class="text-end"><%= link_to "Proceed To CheckOut", charges_path, method: :post, remote: true, class:'btn btn-success btn-lg' %></p>
            </div>
        </div>
    <% else %>
        <h4>It Seems You haven't added any products to cart</h4>
        <p><%= link_to "Explore Products", products_path %></p>
    <% end %>
</div>