<!DOCTYPE html>
<html>
  <head>
    <title>Watchstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <i class="far fa-address-book"></i>

    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "My Cart(#{current_user.cart.line_items.count})", carts_path, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
